@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-manrope{
        font-family: "Manrope", sans-serif;
    }
    .font-montserrat {
         font-family: "Montserrat", sans-serif;
    }

    .banner-heading {
        font-size: clamp(1.5rem,4vw,60px);
    }
    .section-heading {
        font-size: clamp(1.5rem,4vw,2.5rem);
    }
    .shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}